{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    {% include 'TZ/head.html' %}
    <!-- CSS here -->
       {% include 'TZ/CSS.html' %}
       <style>
  /* Center the row using flex */
  .blog_area .row {
    display: flex;
    justify-content: center;
  }

  /* Optional: limit blog width for better readability */
  .blog_left_sidebar {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
</style>

</head>
<body>
    <header>
        <!-- Header Start -->
       
       {% include 'TZ/HeaderStart.html' %}
        <!-- Header End -->
        
    </header>
    <main>
        <!--? Hero Area Start-->
        <div class="row align-items-center">

    <!-- Image Section -->
        <div class="col-xl-8 col-lg-8 col-md-8 d-none d-md-block p-0">

            {% if blog_banner.BannerImage %}
            <img src="{{ blog_banner.BannerImage.url }}"
                alt=""
                style="
                        width:100%;
                        height:85vh;
                        object-fit:cover;
                        display:block;
                ">
                {% endif %}

            </div>

            <!-- Text Section -->
            <div class="col-xl-4 col-lg-4 col-md-4">

                <div class="hero__caption px-5">

                    {{ blog_banner.BannerHead|safe }}

                    <br>

                    {{ blog_banner.BannerBody|safe }}

                    <br>

                </div>

            </div>

        </div>
        <!--? Hero Area End-->
        <!--================Blog Area =================-->
        {% include 'TZ/BlogArea.html' %}
        <!--================Blog Area =================-->
    </main>
    <footer>
        <!-- Footer Start-->
        {% include 'TZ/FooterStart.html' %}
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    {% include 'TZ/SearchModelBegin.html' %}
    <!-- Search model end -->
     
    <!-- JS here -->

   {% include 'TZ/JShere.html' %}
</body>
</html>