{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    {% include 'TZ/head.html' %}
    <!-- CSS here -->
       {% include 'TZ/CSS.html' %}
       <style>
  /* Center the row using flex */
  .blog_area .row {
    display: flex;
    justify-content: center;
  }

  /* Optional: limit blog width for better readability */
  .blog_left_sidebar {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
</style>

</head>
<body>
    <header>
        <!-- Header Start -->
       
       {% include 'TZ/HeaderStart.html' %}
        <!-- Header End -->
        
    </header>
    <main>
        <!--? Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Blog</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? Hero Area End-->
        <!--================Blog Area =================-->
        {% include 'TZ/BlogArea.html' %}
        <!--================Blog Area =================-->
    </main>
    <footer>
        <!-- Footer Start-->
        {% include 'TZ/FooterStart.html' %}
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    {% include 'TZ/SearchModelBegin.html' %}
    <!-- Search model end -->
     
    <!-- JS here -->

   {% include 'TZ/JShere.html' %}
</body>
</html>