{% load static %}

<link rel="stylesheet" href="{% static 'StaticTZ/assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'StaticTZ/assets/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'StaticTZ/assets/css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'StaticTZ/assets/css/slicknav.css' %}">
<link rel="stylesheet" href="{% static 'StaticTZ/assets/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'StaticTZ/assets/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'StaticTZ/assets/css/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'StaticTZ/assets/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'StaticTZ/assets/css/slick.css' %}">
<link rel="stylesheet" href="{% static 'StaticTZ/assets/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'StaticTZ/assets/css/style.css' %}">