{% load static %}

<div class="gallery-area">
    <div class="container-fluid p-0">

        {% if gallerys and gallerys.0.GallImage %}

            <div class="single-gallery">

                <img
                    src="{{ gallerys.0.GallImage.url }}"
                    alt="Gallery Banner"
                    style="
                        width:100%;
                        height:auto;
                        display:block;
                    "
                >

            </div>

        {% endif %}

    </div>
</div>