{% load static %}

<div class="search-model-box">

    <div class="search-close-btn">
        <i class="ti-close"></i>
    </div>      

    <div class="search-container">

        <h2>Search AMORE</h2>

        <p>Find your favorite beauty products</p>

        <form action="{% url 'SearchTZ' %}" method="GET">

            <div class="search-wrapper">

                <input
                    type="text"
                    name="q"
                    placeholder="Search blush, lip gloss, shimmer oil..."
                    required>

                <button type="submit">
                    Search
                </button>

            </div>

        </form>

    </div>

</div>